@font-face {
    font-family: "manrope";
    src: url("./assets/font/manrope.woff2") format('woff2'),
         url("./assets/font/manrope.woff") format('woff');
    font-weight: 200 800;
}

:root {
    /* Font */
    --font-manrope: "manrope";

    --font: var(--font-manrope);

    /* Colors */
    --black: #000;
    --general-black: #181819;
    --white: #fff;
    --blue: #3D52D5;
    --grey: #F5F5F5;
    --dark-grey: #667085;

    /* General var-colors */
    --text-color: var(--general-black);
    --title-color: var(--white);
    --background-color: var(--grey);
}

/* Reset */

html {
    height: 100%;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    max-width: 1440px;
    background-color: var(--grey);
    margin: 0 auto;
}

button, p, h1, li, div {
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background: none;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 20px;
}

svg {
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* General Font Classes */

.text {
    color: var(--text-color);
}

.text.-white {
    color: var(--white);
}

.text.-xsmall {
    font: 800 10px/1.3 var(--font);
}

.text.-small {
    font: 600 12px/1.3 var(--font);
}

.text.-medium {
    font: 600 16px/1.3 var(--font);
}

.title {
    font: 600 36px/1.3 var(--font);
    color: var(--title-color);
}

/* Header section */

.header_wrapper {
    position: relative;
    height: 227px;
    margin-left: 60px;
}

.header_wrapper::before {
    z-index: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--blue);
    opacity: 30%;
}

.header_background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 32px;
}

.header_list,
.header_titleWrapper {
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.header_list {
    justify-content: flex-end;
    gap: 40px;
}

.header_item {
    fill: var(--white);
}

.header_titleWrapper {
    align-items: center;
    gap: 10px;
    height: 100%;
}

.pencil {
    fill: var(--white);
}

/* Nav section */

.nav_wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    min-height: 1012px;
    background-color: var(--white);
    padding: 20px 10px 20px 10px;
}

.nav_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 50%;
}

.nav_item {
    cursor: pointer;
}

.hover_transform {
    transition: all .2s ease-in-out;
}

.hover_transform:hover {
    transform: scale(1.1);
}

    /* Nav top section */

.nav_section.-top {
    justify-content: flex-start;
}

.nav_topSection-logosContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav_topSection-button {
    border-radius: 8px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.nav_topSection-logo {
    width: 100%;
    border-radius: 8px;
}

.editButton {
    background-color: var(--blue);
}

.editButton_svg {
    fill: var(--white);
    width: 100%;
}

    /* Nav bottom section */

.nav_section.-bottom {
    justify-content: flex-end;
}

.nav_profile {
    width: 100%;
}

.nav_profilePicture {
    width: 100%;
    border-radius: 50%;
}

/* Main section */

.main_section {
    padding: 20px 20px 10px 20px;
    margin-left: 60px;
}

.cards_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 288px;
    padding: 12px;
    background-color: var(--white);
    border-radius: 8px;
    margin-bottom: 10px;
}

.card:hover {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.20);
}

.card_pictureWrapper {
    width: 100%;
    border-radius: 8px;
}

.card_picture {
    width: 100%;
}

.card_info {
    color: var(--dark-grey);
}